body{
    padding:0px;
    margin:0px;
    border:0px;
}
a:link{
    color:#7e7c7c;

}
a:visited {
    color:#7e7c7c;
  }
a{
      text-decoration: none;
 }

#canvaswrapper{
    font-family: 'BioRhyme', serif;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    width: 100vw;
    height:100vh;
    background:black;
    color:#7e7c7c;
    background-image: url(""),black;
    background-size: cover;
}
#titlebox{
    display:flex;
    grid-area: 1/1/2/2;
    justify-content: left;
    color:rgb(218, 218, 218);
    padding:10px
}
#title{
    align-self: left;
    font-size: x-large;
}

#linkbar{
    display:flex;
    grid-area: 2/1/4/2;
    justify-content: flex-start;
}

#links{
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 10px;
}

#thumbnailwrapper{
    display: flex;
    grid-area: 4/1/5/2;
}
#thumbnail{
    align-self: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: small;
    padding:10px;
}
#content{
    grid-area: 1/2/5/5;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRR_cO0iYjbyjfmy6R3X9ZsUqR8JXhcFiMwhMOA15ajEysZv-27');
}
#mainbody{
    margin-left:15vw;
    margin-right:15vw;
    font-size: x-large;
    flex-wrap: wrap;   
}
#titlewrapper{
    display:flex;
    grid-area:1/2/2/5;
    font-size:x-large;
    justify-content: center;
    margin-left:10vw;
    margin-right:15vw;
}
#pagetitle{
align-self: center;
}
#portrait{
    border-radius:50%;
    width:200px;
    float: left;
    padding:5px;
    margin:0px;
}