body{
    padding:0px;
    margin:0px;
    border:0px;
}
a:link{
    color:#7e7c7c;

}
a:visited {
    color:#7e7c7c;
  }
a{
    text-decoration: none;
}

#canvaswrapper{
    font-family: 'BioRhyme', serif;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    width: 100vw;
    height:100vh;
    background:black;
    color:#7e7c7c;
}
#titlebox{
    display:flex;
    grid-area: 1/1/2/2;
    justify-content: left;
    color:rgb(218, 218, 218);
    padding:10px
}
#title{
    align-self: left;
    font-size: x-large;
}

#linkbar{
    display:flex;
    grid-area: 2/1/4/2;
    justify-content: flex-start;
}

#links{
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 10px;
}

#thumbnailwrapper{
    display: flex;
    grid-area: 4/1/5/2;
}
#thumbnail{
    align-self: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: small;
    padding:10px;
}
#mainbody{
    grid-area:1/2/5/5;
    background-image: url('https://image.freepik.com/free-photo/white-powder-explosion-black-background-colored-cloud-colorful-dust-explode-paint-holi_44314-839.jpg');
    background-size:cover;
    margin-top: 0vh;
    margin-left:5vw;
}
#homewrapper{
    grid-area: 2/2/4/4;
    order:1;
}
#hometext{
    display: flex;
    background:black;
    order: 0;
    font-size:4.0vw;
    background-color:transparent;
    color: rgb(189, 189, 143);
}
#hometext>div{
display: flex;

}
@media (max-width:450px){

#thumbnail{
    align-self: center;
    text-align: center;
    font-size: x-small;
    padding:10px;    
}
#hometext{
    background:black;
    order: 1;
    font-size:6.0vw;
    justify-self: right;
    background-color:transparent;
    color: rgb(189, 189, 143);
    }
#homewrapper{
    grid-area: 2/2/4/5;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    }
}