body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: black;
    background-image: url(images/PortfolioBackground.svg);
    background-repeat: repeat;
    z-index: 10;
}

a:link {
    color: #7e7c7c;
}

a:visited {
    color: #7e7c7c;
}

a {
    text-decoration: none;
}

#canvaswrapper {
    font-family: 'BioRhyme', serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: #7e7c7c;
    background-image: url(images/PortfolioBackground.svg);
    background-repeat: repeat;
}

#navbar {
    display: grid;
    grid-area: 1/1/5/2;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    flex-direction: column;
    justify-content: space-evenly;
}

#titlebox {
    display: flex;
    grid-area: 1/1/2/2;
    justify-content: left;
    color: rgb(218, 218, 218);
    padding: 10px
}

#title {
    align-self: left;
    font-size: x-large;
}

#linkbar {
    grid-area: 2/1/4/2;
    display: flex;
    justify-content: space-evenly;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 10px;
}

#thumbnailwrapper {
    display: flex;
    grid-area: 4/1/5/2;
}

#thumbnail {
    align-self: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: small;
    padding: 10px;
}

#content {
    grid-area: 1/2/5/5;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

#mainbody {
    grid-area: 2/2/5/5;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: 2.2vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    grid-area: 2/2/5/5;
}

#mainbody>a {
    width: 12vw;
    height: 12vh;
}

#mainbody>.project>a>img {
    width: 12vw;
    height: 12vw;
    border: solid;
    border-radius: 10%;
    border-color: rgb(189, 189, 114);
    background-color: grey;
    background-blend-mode: multiply;
}

#mainbody>.project>a>img:hover {
    border: 5px solid rgb(103, 103, 194);
}

#titlewrapper {
    display: flex;
    grid-area: 1/2/2/5;
    font-size: x-large;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 15vw;
    order: 4
}

#pagetitle {
    align-self: center;
    font-size: 5vw;
    color: rgb(189, 189, 114);
}

.subtitle {
    visibility: hidden;
}
#projecthover{
    font-size:2.0vw;
}
@media (max-width:450px) {
    #navbar {
        position: fixed;
    }
    #thumbnail {
        align-self: center;
        text-align: center;
        font-size: x-small;
        padding: 10px;
    }
    #thumbnailwrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        visibility: hidden
    }
    #title {
        font-size: x-large;
        margin-bottom: 0px;
    }
    #titlebox {
        padding-bottom: 0px;
    }
    #titlewrapper {
        display: flex;
        margin-left: 1vw;
        justify-content: center;
        align-self: flex-end;
        margin-right: 0vw;
    }
    #pagetitle {
        font-size: x-large;
    }
    #mainbody {
        margin-top: 0vh;
        display: flex;
        justify-content: center;
        z-index: 2;
    }
    .project {
        margin: 4vw;
    }
    #mainbody>.project>a>img {
        width: 40vw;
        height: 40vw;
    }
    .subtitle {
        visibility: visible;
        text-align: center;
        font-size: large;
        margin-bottom: 50px;
    }
}